<launch>
    <!-- Perception -->
    <node pkg='object_detection' name='object_detection' type='object_detection'>
    </node>  
    <node pkg='tunnel_lidar' name='tunnel_lidar' type='tunnel_lidar'>
    </node>  

    <!-- Planning -->
    <node pkg='mission_generator' name='mission_generator' type='mission_generator'>
    </node>  

    <node pkg='local_planning' name='local_planning' type='local_planning'>
    </node>  
    
    <!-- Control -->
    <node pkg='vehicle_control' name='vehicle_control' type='vehicle_control'>
    </node>  


    <!-- Scenario --> 

</launch>