<launch>
    <!-- Perception -->
    <node pkg='tunnel_lidar' name='tunnel_lidar' type='tunnel_lidar'>
    </node>  
    <node pkg='traffic_detection' name='traffic_detection' type='traffic_detection'>
    </node>  

    <!-- Planning -->
    <node pkg='mission_generator' name='mission_generator' type='mission_generator'>
    </node>  

    <node pkg='local_planning' name='local_planning' type='local_planning'>
    </node>  
    
    <!-- Control -->
    <node pkg='vehicle_control' name='vehicle_control' type='vehicle_control'>
    </node>  

    <!-- Rviz -->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find mission_generator)/rviz/mando.rviz" />

    <!-- Scenario --> 

</launch>